.HabitsModal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.HabitsModal_Container {
    margin-top: 30px;
    width: 300px;
    height: 300px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        	/* border */
	border-style: solid;
	border-image-source: url("../../../../assests/RPGUI/border-image.png");
	border-image-repeat: repeat;
	border-image-slice: 6 6 6 6;
	border-image-width: 18px;
	border-width: 15px;
	padding: 12px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../../../../assests/RPGUI/background-image.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.HabitsModal_Close {
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    border-radius: 30px;
    top: 1rem;
    right: 1rem;
    padding-bottom: 3px;
    cursor: pointer;
}

.HabitsModal_Container form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.HabitsModal_Container form label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.HabitsModal_Container form input {
    outline: none;
    width: 250px;
    text-align: center;
    height: 2rem;
    font-size: 1.7rem;
    border: 2px solid var(--primary-color);
    border-radius: 3px;
}

.HabitsModal_Container form button {
    width: 150px;
    height: 2.3rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.HabitsModal_Container form button:hover {
    background-color: rgb(62, 11, 92);
}