.Title {
    height:10%;
    font-size: 2rem;
    text-transform: capitalize;
    color: white;
    font-family: 'MedievalSharp', cursive;
}

.Title::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    background-color: white;
}