.Rewards {
    width: 100%;
    height: 100%;
    background-color: rgb(237, 233, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;

        	/* background */
	background: url("../../../assests/RPGUI/background-image-golden.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.addReward {
    font-family: 'MedievalSharp', cursive;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 3rem;
    color: white;
    right: 1rem;
    cursor: pointer;

    background: url("../../../assests/RPGUI/background-image-golden2.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;

    border-style: solid;
	border-image-source: url("../../../assests/RPGUI/border-image-golden2.png");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 18px;
	border-width: 15px;
}

.Rewards_Container {
    padding: .5rem;
    width: 100%;
    height: 80%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    overflow-y: scroll;

        	/* border */
	border-style: solid;
	border-image-source: url("../../../assests/RPGUI/border-image-golden2.png");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 18px;
	border-width: 15px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../../../assests/RPGUI/background-image-golden2.png") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.Rewards_Container ::-webkit-scrollbar,
.Rewards_Container::-webkit-scrollbar
{
    width: 18px;
}

/* Track */
.Rewards_Container ::-webkit-scrollbar-track,
.Rewards_Container::-webkit-scrollbar-track
{
    background-image:url('../../../assests/RPGUI/scrollbar-track.png');
    background-size: 18px 60px;
    background-repeat: repeat-y;
}

/* Handle */
.Rewards_Container ::-webkit-scrollbar-thumb,
.Rewards_Container::-webkit-scrollbar-thumb
{
    background-image:url('../../../assests/RPGUI/scrollbar-thumb.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* buttons */
.Rewards_Container ::-webkit-scrollbar-button,
.Rewards_Container::-webkit-scrollbar-button
{
	background-image:url('../../../assests/RPGUI/scrollbar-button.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}