.ToDo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    position: relative;

    	/* background */
	background: url("../../../assests/RPGUI/background-image-golden.webp") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.addToDo {
    font-family: 'MedievalSharp', cursive;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 3rem;
    color: white;
    right: 1rem;
    cursor: pointer;

    background: url("../../../assests/RPGUI/background-image-golden2.webp") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;

    border-style: solid;
	border-image-source: url("../../../assests/RPGUI/border-image-golden2.webp");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 18px;
	border-width: 15px;
}

.ToDo ul {
    width: 100%;
    height: 85%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    	/* border */
	border-style: solid;
	border-image-source: url("../../../assests/RPGUI/border-image-golden2.webp");
	border-image-repeat: repeat;
	border-image-slice: 8 8 8 8;
	border-image-width: 18px;
	border-width: 15px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../../../assests/RPGUI/background-image-golden2.webp") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.ToDo ul ::-webkit-scrollbar,
.ToDo ul::-webkit-scrollbar
{
    width: 18px;
}

/* Track */
.ToDo ul ::-webkit-scrollbar-track,
.ToDo ul::-webkit-scrollbar-track
{
    background-image:url('../../../assests/RPGUI/scrollbar-track.webp');
    background-size: 18px 60px;
    background-repeat: repeat-y;
}

/* Handle */
.ToDo ul ::-webkit-scrollbar-thumb,
.ToDo ul::-webkit-scrollbar-thumb
{
    background-image:url('../../../assests/RPGUI/scrollbar-thumb.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* buttons */
.ToDo ul ::-webkit-scrollbar-button,
.ToDo ul::-webkit-scrollbar-button
{
	background-image:url('../../../assests/RPGUI/scrollbar-button.webp');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}