@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.UserHUD {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10px;
}


.UserHUD_AvatarSection {
    font-family: 'MedievalSharp', cursive;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.UserHUD_UserInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: seashell;
    padding: 5px 0;
}

.UserHUD_Name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.UserHUD_Xp {
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.774);
}

.UserHUD_AvatarWrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;

    	/* border */
	border-style: solid;
	border-image-source: url("../../../assests/RPGUI/border-image-grey.webp");
	border-image-repeat: repeat;
	border-image-slice: 3 3 3 3;
	border-image-width: 7px;
	border-width: 7px;

	/* internal border */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	/* background */
	background: url("../../../assests/RPGUI/background-image-grey.webp") repeat repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
}

.UserHUD_AvatarWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.UserHUD_Level {
    display: flex;
    font-size: 2rem;
    margin-top: auto;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.UserHUD hr {
    display:block;
    border:0px;
    height:5px;
    margin: 0 auto;
    width: 98%;
    background: url("../../../assests/RPGUI/hr.webp") repeat-x top left;

    margin-top: 5px;
}

.UserHUD button { 
    font-family: 'MedievalSharp', cursive;
	/* hide button default stuff */
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    overflow: hidden;
    outline:none;

	/* background */
	background: url("../../../assests/RPGUI/button.webp") no-repeat no-repeat;
	background-clip: padding-box;
	background-origin: padding-box;
	background-position: center;
	background-size: 100% 80%;

	/* default size and display */
    max-width: 90%;
    min-width: 140px;
    width: 60%;
    height: 60px;
    display: inline-block;


    /* padding */
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    overflow: visible;

    cursor: pointer;
    font-size: 1rem;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 30px;
}

.UserHUD button:hover {
    background-image: url("../../../assests/RPGUI/button-hover.webp");
}

.UserHUD button:active {
    background-image: url("../../../assests/RPGUI/button-down.webp");
}

