

.Nav_Nav {
    width: 100%;
    height: 100%;
    border-bottom: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Nav_Nav button{
    	/* border */
        border-style: solid;
        border-image-source: url("../../../assests/RPGUI/border-image-golden2.png");
        border-image-repeat: repeat;
        border-image-slice: 6 6 6 6;
        border-image-width: 5px;
        border-width: 5px;
        padding: 5px;
    
        /* internal border */
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    
        /* background */
        background: url("../../../assests/RPGUI/background-image.png");
        background-clip: padding-box;
        background-origin: padding-box;
        background-position: center;
    
        text-transform: capitalize;
        font-size: 1rem;
        width: 25%;
        height: 100%;
        cursor: pointer;
        border-radius: 4px;
        transition: ease-out 300ms;
    
        color: white;
        font-family: 'MedievalSharp', cursive;
}

.Nav_Nav button:hover {
    color: rgb(211, 173, 128);
}
