span {
	width: max-content;
	display: flex;
	gap: 5px;
	font-size: 15px;
	align-items: center;
}

.RewardsRadio input[type=radio] {
	display: none;
}

.RewardsRadio input[type=radio] + label {
    background: url('../../../../assests/RPGUI/radio-off.webp') no-repeat;
		line-height: 24px;
    display: inline-block;
    background-size: auto 100%;
    padding-left: 34px;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}

.RewardsRadio input[type=radio]:checked + label {
	background: url('../../../../assests/RPGUI/radio-on.webp') no-repeat;
		line-height: 24px;
    display: inline-block;
    background-size: auto 100%;
    padding-left: 34px;
    height: 24px;
}